
.article-body {
  position: relative;
  p {
    line-height: 32px;
    color: $secondary-color;
    padding: 50px 0;
  }

  p:first-child:first-letter {
    color: $primary-color;
    float: left;
    font-size: 76px;
    line-height: 60px;
    padding-right: 8px;
  }
}

.article-body::before {
  content: "";
  height: 100px;
  width: 100%;
  background: url(../image/brush.png);
  position: absolute;
  background-size: contain;
  top: -46px;
  left: 0;
}