
.article-body {

  p {
    line-height: 32px;
    color: $secondary-color;
    padding: 50px 0;
  }

  p:first-child:first-letter {
    color: $primary-color;
    float: left;
    font-size: 76px;
    line-height: 60px;
    padding-right: 8px;
  }
}

