

header {
  //text-align: center;
  padding: 20px 0;

  .logo {
    display: inline-block;
    margin-bottom: 20px;
  }
  svg {
    fill: $primary-color;
  }

  .navigation {
    background: #fff;
    display: none;
  }

  .nav-item {
    border-bottom: 1px solid #eee;
    padding: 6px 0;
  }

  .nav-item a {
    display: inline-block;
    color: $secondary-color;
    padding: 10px;
    font-size: 0.8em;
    text-transform: capitalize;
    font-weight: 700;
    width: 100%;
  }
}

.hero-section {
  background: url("../image/2016-03-23_post-img_4537_miyajima-shrine.jpg");
  min-height: 300px;
  background-size: cover;
  position: relative;

  .article-title {
    font-size: 2em;
    font-weight: 300;
    color: $secondary-color;
    text-align: center;
    margin-top: 30px;
    text-shadow: 0 0 2px #ededed;
    margin-bottom: 12px;
  }
  .by-line {
    color: #575656;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    text-shadow: 0 0 1px #ededed;
  }

  .by-line .name {
    border-right: 1px solid #9d9d9d;
    padding-right: 4px;
  }
}

.hero-section::after{
  content: "";
  height: 50px;
  width: 100%;
  background: url(../image/brush.png);
  position: absolute;
  background-size: contain;
  background-repeat: repeat-x;
  left: 0;
  bottom: -32px;
}
@media (min-width: 700px) {
  .hero-section {
    min-height: 350px;

    .article-title {
      font-size: 2.6em;
      margin-top: 40px;
    }
  }
  header {
    //text-align: initial;

    .logo {
      margin-bottom: 0;
    }

    .large-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav-item {
      display: inline-block;
      margin-right: 16px;
      margin-bottom: 0;
      border-bottom: none;
    }

    .navigation {
      margin-right: -20px;
      background: none;
      display: block;
    }
    .nav-item a:hover {
      color: $primary-color;
    }
  }

}

@media (min-width: 1000px){
  .hero-section {
    min-height: 500px;
  }
  .article-title {
    margin-top: 0;
  }
}

